@charset "utf-8";

/*! Author: JW 2022-09-16 */
$font: 'Roboto-Regular', 'NanumSquareR', sans-serif;
$font-light: 'Roboto-Light', 'NanumSquareL', sans-serif;
$font-bold: 'Roboto-Bold', 'NanumSquareExtraBold', sans-serif;
$symbol-dark: #333;
$symbol-color: #4169e1; //rgb(65, 105, 225)
$symbol-grey: #777;
$cdn: 'https://cdn.jsdelivr.net/gh/fe-jw/smartPop/img';
// $cdn: '../img';
@import '_svg.scss';

*	{margin:0;padding:0;}
html	{height:100%;font-size:10px;-webkit-text-size-adjust:none;}
body	{height:100%;line-height:1.2;font-size:2.0rem;font-family:$font;color:#fff;background-color:#000;-webkit-overflow-scrolling:touch;}
h1, h2, h3, h4, h5, h6, strong, dt	{font-family:$font-bold;font-weight:normal;}
a	{color:inherit;text-decoration:none;}
button	{line-height:inherit;font-family:inherit;font-size:inherit;color:inherit;border:none;background-color:transparent;cursor:pointer;}
li, dd	{list-style:none;}
.flex	{display:flex;justify-content:center;align-items:center;text-align:center;}
.flex_item	{display:block;width:100%;}
.skip-content	{position:absolute;left:0;top:-100px;}
.skip-content:focus	{display:block;width:100%;top:0;line-height:50px;font-weight:bold;color:#fff;text-align:center;background-color:$symbol-color;z-index:1000;}
::-webkit-scrollbar	{width:4px;height:2px;background-color:rgba(255, 255, 255, 0.05);}
::-webkit-scrollbar-thumb	{background-color:$symbol-color;}

//Loading
body	{
	&:after	{content:'';width:60px;height:60px;margin-top:-30px;margin-left:-30px;position:fixed;left:50%;top:50%;background:url("#{$loading}") no-repeat;background-size:100% 100%;z-index:1000;animation:loading 3s linear infinite;}
	.header,
	.container,
	.footer	{visibility:hidden;}
	
	&.onLoad	{
		&:after	{visibility:hidden;animation:none;}
		.sp-wrap:before	{opacity:0.15;transition:opacity 1s ease;}
		.header,
		.container,
		.footer	{visibility:initial;}
	}
}

//Default Mobile
.sp-wrap	{overflow:hidden;min-width:360px;
	br[data-break-2]	{display:none;}
	br[data-break-1]	{display:block;}
	&:before	{content:'';opacity:0;width:100vw;height:100vh;position:fixed;left:0;top:0;background:url('#{$cdn}/bg_sp.jpg') repeat 50% 50%;background-size:960px auto;z-index:-10;}
	.point	{color:$symbol-color;}

	.link-default	{display:flex;justify-content:center;align-items:center;width:160px;height:45px;margin:0 auto;padding:0 10px;border-width:1px;border-style:solid;border-color:#fff;font-family:$font-light;font-size:1.5rem;text-align:center;background-color:rgba(255, 255, 255, 0.1);transition:all 0.5s ease;box-sizing:border-box;
		&:hover	{border-color:$symbol-color;background-color:rgba($symbol-color, 0.2);}
		&.arrow:after	{content:'';opacity:0;display:inline-block;width:0;height:0;background:url("#{$arrow-right}") no-repeat;background-size:100% 100%;transition:all 0.3s;}
		&.arrow:hover:after	{opacity:1;width:10px;height:10px;margin-left:5px;}
	}

	.header	{display:flex;justify-content:center;align-items:center;text-align:center;height:100vh;min-height:600px;box-sizing:border-box;
		.main-tit	{padding:10px 20px;position:relative;border-width:1px;border-style:solid;border-color:$symbol-color;color:#fff;background-color:rgba(0, 0, 0, 0.5);}
		.main-tit .point	{display:block;font-size:5.0rem;}
		.main-tit .name	{display:block;font-size:2.8rem;}
		.main-tit .ver	{padding:5px 10px;position:absolute;left:0;top:0;border:1px solid #000;font-size:1.0rem;color:#000;white-space:nowrap;background-color:$symbol-color;transform:translate(-1px, -120%);}
		.main-desc	{margin-top:25px;font-family:$font-light;}
		.main-desc .desc	{display:block;}
		.main-desc .desc:first-child	{margin-bottom:20px;}
	}

	.container	{
		.section	{display:table;table-layout:fixed;width:100%;height:100vh;min-height:800px;padding:10px 0;box-sizing:border-box;}
		.section .content	{display:table-cell;vertical-align:middle;}
		.section .sub-tit	{margin-bottom:10px;padding:0 10px;font-size:50px;color:$symbol-color;text-align:center;text-decoration:underline;}
		.section .sub-desc	{margin-bottom:20px;padding:0 10px;line-height:calc(20 / 16);font-family:$font-light;font-size:1.6rem;text-align:center;}
		.btn-wrap	{margin-bottom:20px;font-size:0;text-align:center;}
		.btn-wrap .btn-smartpop	{display:inline-flex;align-items:center;height:40px;margin:5px;padding:5px 10px;line-height:1.2;font-size:1.4rem;color:#fff;vertical-align:top;background-color:$symbol-color;box-sizing:border-box;}
		.how-to-start	{width:95%;margin:0 auto;padding-top:20px;}
		.how-to-start li	{margin-bottom:20px;}
		.how-to-start .step-tit	{margin-bottom:15px;font-size:2.0rem;}
		.how-to-start .step-tit:before	{content:'· ';color:$symbol-color;}
		.how-to-start .code-wrap	{padding:20px;border-width:1px;border-style:solid;border-color:$symbol-color;font-size:1.2rem;background-color:rgba(0, 0, 0, 0.5);box-sizing:border-box;}
		.code-list	{display:flex;justify-content:center;flex-wrap:wrap;width:100%;}
		.code-list [class^='item-']	{display:flex;align-items:center;min-width:100px;min-height:100px;margin:10px;padding:0 10px;border-width:1px;border-style:solid;border-color:$symbol-color;font-size:1.2rem;background-color:rgba(0, 0, 0, 0.5);box-sizing:border-box;}
	}

	.footer	{padding:40px 0 20px;
		.copyright	{font-family:$font-light;line-height:1;font-style:normal;font-size:1.2rem;text-align:center;color:$symbol-grey;}
	}

	.btn-top	{opacity:0;visibility:hidden;width:30px;height:30px;position:fixed;right:10px;bottom:10px;border:1px solid #fff;font:0/0 a;background-color:rgba(255, 255, 255, 0.1);transition:all 0.3s ease;}
	.btn-top.on	{opacity:1;visibility:visible;}
	.btn-top:after	{content:'';display:inline-block;width:15px;height:15px;background:url("#{$arrow-right}") no-repeat;background-size:100% 100%;transform:rotate(-90deg);}
}

//SmartPop
.smart-pop	{overflow-y:auto;width:100%;min-width:320px;height:100%;position:fixed;left:0;top:0;font-size:0;color:#000;text-align:center;background-color:rgba(0, 0, 0, 0.8);}
.smart-pop:before	{content:'';display:inline-block;height:100%;vertical-align:middle;}
.smart-pop .pop-layer	{display:inline-block;width:300px;min-height:200px;margin:30px 0;position:relative;border-radius:0.3em;font-size:2.0rem;vertical-align:middle;background-color:#fff;}
.smart-pop .pop-txt	{display:flex;justify-content:center;align-items:center;width:100%;height:100%;padding:20px 40px;box-sizing:border-box;}
.smart-pop .btn-close	{width:40px;height:40px;position:absolute;right:0;top:0;font:0/0 a;background:url("#{$btn-close}") no-repeat;background-size:100% 100%;}

//Tablet
@media all and (min-width: 768px) and (max-width:1439px){
	.sp-wrap	{
		br[data-break-1]	{display:none;}
		br[data-break-2]	{display:block;}
		.link-default	{width:180px;height:50px;font-size:2.0rem;
			&.arrow:hover:after	{width:12px;height:12px;margin-left:10px;}
		}

		.header	{min-height:800px;
			.main-tit	{padding:15px 30px;border-width:2px;}
			.main-tit .point	{font-size:8.0rem;}
			.main-tit .name	{font-size:4.0rem;}
			.main-tit .ver	{font-size:1.5rem;transform:translate(-50%, -50%) rotate(-45deg);}
			.main-desc	{margin-top:30px;font-size:3.0rem;}
		}

		.container	{
			.section .sub-tit	{margin-bottom:20px;font-size:6.0rem;}
			.section .sub-desc	{margin-bottom:40px;padding:0 20px;line-height:calc(25 / 20);font-size:2.0rem;}
			.btn-wrap	{margin-bottom:30px;}
			.btn-wrap .btn-smartpop	{height:45px;margin:10px;padding:8px 15px;font-size:1.6rem;}
			.how-to-start	{width:720px;}
			.how-to-start li	{margin-bottom:30px;}
			.how-to-start .step-tit	{font-size:2.5rem;}
			.how-to-start .code-wrap	{font-size:1.5rem;}
			.code-list [class^='item-']	{min-width:200px;min-height:200px;border-width:2px;font-size:1.5rem;}
		}
	}

	//SmartPop
	.smart-pop .pop-layer	{width:350px;font-size:2.2rem;}
	.smart-pop .pop-txt	{padding:20px 45px;}
	.smart-pop .btn-close	{width:45px;height:45px;}
}

//PC
@media all and (min-width: 1440px){
	body	{
		&:after	{width:100px;height:100px;margin-top:-50px;margin-left:-50px;}
	}

	.sp-wrap	{
		br[data-break-1]	{display:none;}
		&:before	{background-size:1920px auto;}
		.link-default	{width:280px;height:80px;font-size:3.0rem;
			&.arrow:hover:after	{width:20px;height:20px;margin-left:10px;}
		}

		.header	{width:1440px;margin:0 auto;min-height:800px;
			.main-tit	{padding:20px 40px;border-width:2px;}
			.main-tit .point	{font-size:12.0rem;}
			.main-tit .name	{font-size:6.0rem;}
			.main-tit .ver	{font-size:2.0rem;transform:translate(-50%, -50%) rotate(-45deg);}
			.main-desc	{margin-top:50px;font-size:4.0rem;}
		}

		.container	{width:1440px;margin:0 auto;
			.section	{min-height:1000px;padding:20px 0;}
			.section .sub-tit	{margin-bottom:30px;padding:0 20px;font-size:8.0rem;}
			.section .sub-desc	{margin-bottom:50px;padding:0 20px;line-height:calc(36 / 30);font-size:3.0rem;}
			.btn-wrap	{margin-bottom:40px;}
			.btn-wrap .btn-smartpop	{height:50px;margin:15px;padding:10px 20px;font-size:1.8rem;}
			.how-to-start	{width:1000px;}
			.how-to-start li	{margin-bottom:40px;}
			.how-to-start .step-tit	{font-size:3.0rem;}
			.how-to-start .code-wrap	{font-size:2.0rem;}
			.code-list [class^='item-']	{min-width:300px;min-height:300px;padding:0 20px;border-width:2px;font-size:2.0rem;}
		}

		.footer	{padding:60px 0 30px;
			.copyright	{font-size:2.0rem;}
		}

		.btn-top	{width:50px;height:50px;right:20px;bottom:20px;}
		.btn-top:after	{width:25px;height:25px;}
	}

	//SmartPop
	.smart-pop .pop-layer	{width:400px;font-size:2.4rem;}
	.smart-pop .pop-txt	{padding:30px 50px;}
	.smart-pop .btn-close	{width:50px;height:50px;}
}

@keyframes loading	{
	from	{transform:rotate(0);}
	to	{transform:rotate(360deg);}
}